{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}

{% block title %}
<title>{{ config.name_ecomerce}} | Cesta</title>
{% endblock %}

{% block content %}

<!-- Page Loader -->        
<div class="page-loader">
<div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->

<!-- Page Wrap -->
<div class="page" id="top">
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-0">Cesta de la compra</h1>
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->


<!-- Section -->
<section class="page-section">
    <div class="container">
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
                <table class="table table-striped shopping-cart-table">
                    <tr>
                        <th class="hidden-xs">
                            Imagen
                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                    <!-- cargar productos en el carro -->
                    {% for i in cart_items %}                       
                    <tr>
                        <td class="hidden-xs">
                            <img height="80" width="80" src="{{i.0.gallery.first.get_img}}" alt="foto"/>
                        </td>
                        <td>
                            <a href="#">{{i.0.title.upper}}</a>
                        </td>
                        <td>
                            <form id="form-{{i.0.id}}" method="POST" action="{% url 'ecommerce:edit_cart' %}" class="form">
                               <input name="upt_qty" type="number" class="input-sm" style="width: 60px;" min="1" max="100" value="{{i.1}}" />
                               <input type="hidden" name="update_product" value="{{i.0.id}}">
                            </form>
                        </td>
                        <td>
                            {{i.0.price}}€
                        </td>
                        <td>
                            <!-- enviar id del producto para eliminar en la view-->
                            <form method="POST" action="{% url 'ecommerce:edit_cart' %}">
                                <input type="hidden" name="del_product" value="{{i.0.id}}">

                                <button style="margin-left: 8%" type="submit" form="form-{{i.0.id}}" class="btn-gray btn-round btn-small">        
                                    <a style="text-decoration:none"><i class="fa fa-undo"></i> <span class="hidden-xs">Actualizar</span></a>
                                </button>
                                <button style="margin-left: 5%" type="submit">                 
                                    <a style="text-decoration:none"><i class="fa fa-times"></i> <span class="hidden-xs">Eliminar</span></a>
                                </button>

                            </form>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                
                <hr />
                <!--
                <div class="row">
                    <div id="col-sm-4-upt_cart" class="col-sm-4 text align-right">
                        
                        <div>

                        </div>
                        
                    </div>
                </div>
                
                <hr class="mb-60" />
                -->
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6 text align-right pt-10">                   
                        <div class="lead mt-0 mb-30">
                            Total pedido: <strong>{{cart_subtotal}} €</strong>
                        </div>
                        
                        <div>
                            <a href="{% url 'ecommerce:checkout' %}" class="btn btn-mod btn-round btn-large">Proceder a reserva</a>
                        </div>
                        
                    </div>
                </div>
                
                
                
            </div>
        </div>
    
    </div>
</section>
<!-- End Section -->

{% endblock content %}
