{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}

{% block content %}
<!-- Page Loader -->        
<div class="page-loader">
<div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->

<!-- Page Wrap -->
<div class="page" id="top">
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-0">Reserva</h1>
            </div>
        </div> 
    </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
    <div class="container">
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
                <table class="table table-striped shopping-cart-table">
                    <tr>
                        <th class="hidden-xs">
                            Imagen
                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            
                        </th>
                    </tr>
    
                    {% for i in cart_items %}
                        
                    <tr>
                        <td class="hidden-xs">
                            <img height="40" width="40" src="{{i.0.gallery.first.get_img}}" alt="foto"/>
                        </td>
                        <td>
                            {{i.0.title.upper}}
                        </td>
                        <td>
                            {{i.1}}
                        </td>
                        <td>
                            {{i.0.price}}€
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                
                <hr />                
                <br><br>
                <div class="row">
                    <div class="col-sm-8" style="width: 56%;">
                        
                      <h3 class="small-title font-alt">Datos para la reserva</h3>                      
                      <div id="tpv" class="row">
                        <!-- Form que envia los datos del usuario para asignar pedido -->
                        <form method="POST" action="{% url 'ecommerce:payment' %}" id="reserve-form" >
                          {% csrf_token %}                                                        
                  
                            <div class="mb-20 form-checkout col-sm-4">
                             {{o_form.inv_firstname}}                              
                            </div>
                            <div class="mb-20 form-checkout col-sm-4">
                             {{o_form.inv_phone}}                              
                            </div>
                            <div class="mb-20 form-checkout col-sm-4">
                             {{o_form.inv_email}}                              
                            </div>
                            <div class="mb-20 form-checkout col-sm-4">
                             {{o_form.inv_card_id}}                              
                            </div>
                            <div class="mb-20 form-checkout col-sm-4">
                              {{o_form.hour_collection}}                              
                            </div>
                            <div class="mb-20 form-checkout col-sm-4">
                              {{o_form.day_collection}}                              
                            </div>
                            <div class="mb-20 form-checkout col-sm-9">
                             {{o_form.notes}}                              
                            </div>
                            <!-- Hidden field -->
                           {{o_form.ship_firstname}}  
                        </form>
                        <!-- End Form -->
                      </div>
                    </div>

                    <div class="col-sm-4 text align-right">                   

                        <div class="lead mt-0 mb-30">
                            Total pedido: <strong>{{cart_subtotal}} €</strong>
                        </div>
                        
                        <button type="submit" form="reserve-form" class="btn btn-mod btn-round btn-large">                                
                            <a id="buttons-large" style="text-decoration:none" >Hacer reserva</a>
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
{% endblock content %}

{% block extra_js %}
<!--
<script>
    $(function(){
      $('form').on('submit', function(ev){
        ev.preventDefault();
        $.ajax({
          url: "{% url 'ecommerce:payment' %}",
          type: "POST",
          data: $("form").serialize(),
          
          success: function(data){
                $('#tpv').html(data);
                if($('#tpv').length > 0){
                    $('#tpv_form .button').click();
                }
            }
        });

      });
    });
</script>
-->
{% endblock extra_js %}
