{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}

{% block content %}

<!-- Head Section -->
<section class="page-section bg-gray-lighter" data-background="{{config.gallery.first.get_img}}">
    <div class="relative container align-left">        
        <div class="row">           
            <div class="col-md-8">
                <!-- Title category -->
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Tienda \ {{content.title}}</h1>
        </div>        
    </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="row">
            
            <!-- Content -->
            <div class="col-sm-12">
                
                <!-- Shop options -->
                <div class="clearfix mb-40">
                    
                    <div class="left section-text mt-10">
                        <!-- Contar productos mostrados -->
                        Mostrando {{products_cat.all.count}} resultados
                    </div>
                    
                    <!-- Filtros precio
                    <div class="right">
                        <form method="post" action="#" class="form">
                            <select class="input-md round">
                                <option>Ordenacion por defecto</option>
                                <option>Ordenar por precio: menor a mayor</option>
                                <option>Ordenar por precio: mayor a menor</option>
                            </select>
                        </form>
                    </div>
                    -->
                </div>
                <!-- End Shop options -->
                
                <div class="row multi-columns-row">
            
                    <!-- Shop Item -->
                    {% for p in products_cat %}
                    <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                        
                        <div class="post-prev-img"> 
                            <a href="{% url 'ecommerce:dispatch_slug' p.slug %}"><img height="370" width="472" src="{{p.gallery.first.get_img}}" alt="foto" /></a>
                            {% if p.featured %}
                             <div class="intro-label">
                                <span class="label label-danger bg-red">Destacado</span>
                            </div>
                            {% endif %}   
                        </div>
                        
                        <div class="post-prev-title font-alt align-center">
                            <a href="shop-single.html">{{p.title}}</a>
                        </div>

                        <div class="post-prev-text align-center">
                            {% if p.old_price and p.old_price > p.price %}
                            <!--Precio antiguo-->
                            <del>{{p.old_price}} €</del>
                            {% endif %}
                            &nbsp;
                            <!--Precio final-->
                            <strong>{{p.price}} €</strong>
                        </div>
                        
                        <div class="post-prev-more align-center">
                            <!-- enviar post con cantidad y id de producto -->
                            <form method="POST" action="{% url 'ecommerce:edit_cart' %}">
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="add_product" value="{{p.id}}"/>                              
                                <button type="submit" class="btn btn-mod btn-gray btn-round">
                                    <a href="{% url 'ecommerce:my_cart' %}"></a>
                                    Añadir al carro
                                </button>
                            </form>
                        </div>
                        
                    </div>
                    <!-- End Shop Item -->    
                    {% endfor %}
                </div>     

            </div>
            <!-- End Content -->
        </div>       
    </div>
</section>
<!-- End Section -->
</body>
</html>


{% endblock content %}