{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-dark-lighter">
<div class="relative container align-left">

<div class="row">
    
    <div class="col-md-8">
        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Iniciar sesión</h1>
    </div>

</div>
</section>
<!-- End Head Section -->


<!-- Section -->
<section class="page-section">
<div class="container relative">

<!-- Nav Tabs -->
<div class="align-center mb-40 mb-xxs-30">
    <ul class="nav nav-tabs tpl-minimal-tabs">
        
        <li class="active">
            <a href="#mini-one" data-toggle="tab">Login</a>
        </li>
        
        <li>
            <a href="#mini-two" data-toggle="tab">Registration</a>
        </li>
        
    </ul>
</div>
<!-- End Nav Tabs -->

<!-- Tab panes -->
<div class="tab-content tpl-minimal-tabs-cont section-text">
    
    <div class="tab-pane fade in active" id="mini-one">
        
        <!-- Login Form -->                            
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                
                <form class="form contact-form" id="contact_form" method="post" action="{% url 'auth' %}">
                    {% csrf_token %}
                    <div class="clearfix">
                        
                        <!-- Username -->
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="input-md round form-control" placeholder="Username" pattern=".{3,100}" required>
                        </div>
                        
                        <!-- Password -->
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="input-md round form-control" placeholder="Password" pattern=".{5,100}" required>
                        </div>
                            
                    </div>
                    
                    <div class="clearfix">
                        
                        <div class="cf-left-col">
                            
                            <!-- Inform Tip -->                                        
                            <div class="form-tip pt-20">
                                <a href="">Olvido su contraseña?</a>
                            </div>
                            
                        </div>
                        
                        <div class="cf-right-col">
                            
                            <!-- Send Button -->
                            <div class="align-right pt-10">
                                <button type="submit" formaction="{% url 'auth' %}" class="submit_btn btn btn-mod btn-medium btn-round" id="login-btn">Login</button>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </form>
                
            </div>
        </div>
        <!-- End Login Form -->
        
    </div>
    
    <div class="tab-pane fade" id="mini-two">
        
        <!-- Registry Form -->                            
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                
                <form class="form contact-form" id="contact_form" method="POST" action="{% url 'sing_up' %}">
                    {% csrf_token %}
                    <div class="clearfix">                     
                        {{form_signup.as_p}}                        
                    </div>
                    
                    <!-- Send Button -->
                    <div class="pt-10">
                        <button type="submit" class="submit_btn btn btn-mod btn-medium btn-round btn-full" id="reg-btn">Register</button>
                    </div>
                    
                </form>
                
            </div>
        </div>
        <!-- End Registry Form -->
        
    </div>
    
</div>

</div>
</section>
<!-- End Section -->
{% endblock content %}