{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}

{% block content %}

<div class="col-md-8 col-md-offset-2">
    <div class="section-text align-center mb-70 mb-xs-40">
        Su reserva se ha rehalizado correctamente.<br><br>
        <a href="/" target="_self" class="btn btn-mod btn-border btn-round btn-medium">Volver a Inicio</a>
    </div>
</div>

{% endblock content %}