{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}

{% block title %}
<title>{{ config.name_ecomerce}} | Producto</title>
{% endblock %}


{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">   
        <div class="row">           
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Detalle de producto</h1>
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        
        <!-- Product Content -->
        <div class="row mb-60 mb-xs-30">
            
            <!-- Product Images -->
            <div class="col-md-4 mb-md-30">             
                <div class="post-prev-img">                     
                    <a href="{{product.gallery.get_img}}" class="lightbox-gallery-3 mfp-image"><img src="{{product.gallery.first.get_img}}" alt="foto" /></a>
                    <!-- Si el producto es destacado mostrar su correspondiente etiqueta -->
                    {% if product.featured %}
                    <div class="intro-label">
                        <span class="label label-danger bg-red">Destacado</span>
                    </div>
                    {% endif %}
                </div>
                
                <div class="row">
                    {% for img in product.gallery.all %}
                    <div class="col-xs-3 post-prev-img">
                        <a href="{{img.get_img}}" class="lightbox-gallery-3 mfp-image"><img src="{{img.get_img}}" alt="foto" /></a>
                    </div>
                    {% endfor %}
                    
                </div>
                
            </div>
            <!-- End Product Images -->
            
            <!-- Product Description -->
            <div class="col-sm-8 col-md-5 mb-xs-40">
                
                <h3 class="mt-0">{{product.title.upper}}</h3>
                
                <hr class="mt-0 mb-30"/>
                
                <div class="row">
                    <div class="col-xs-6 lead mt-0 mb-20">      
                    {% if product.old_price and product.old_price > product.price %}
                            <!--Precio antiguo-->
                            <del>{{product.old_price}} €</del>
                    {% endif %}
                    &nbsp;
                    <!--Precio final-->      
                        <strong>{{product.price}} €</strong> 
                    </div>
                    <!--
                    <div class="col-xs-6 align-right section-text">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        &nbsp;(3 reviews)
                    </div>
                    -->
                </div>
                
                <hr class="mt-0 mb-30"/> 
                <!-- Descripcion producto -->
                <div class="section-text mb-30">
                    {{product.description}}
                </div>
                
                <hr class="mt-0 mb-30"/> 
                
                <div class="mb-30">
                    <form method="POST" action="{% url 'ecommerce:edit_cart' %}" class="form">
                        {% csrf_token %}
                        <input type="number" name="quantity" class="input-lg round" min="1" max="100" value="1" />
                        <input type="hidden" name="add_product" value="{{product.id}}">
                        <button type="submit" class="btn btn-mod btn-large btn-round">                 
                            <a href="{% url 'ecommerce:my_cart' %}"></a> 
                            Añadir al carro
                        </button>
                    </form>
                </div>
                
                <hr class="mt-0 mb-30"/> 
                
                <div class="section-text small">
                    <div>Categoría: <span>{{product.category.title}}</span></div>
                </div>
                
            </div>
            <!-- End Product Description -->            
        </div>
        <!-- End Product Content -->
   
        <!-- Nav tabs -->
        {% if product.specification %}        
            <ul class="nav nav-tabs tpl-tabs animate">
                <li class="active">
                    <a href="#one" data-toggle="tab">Características</a>
                </li>
            </ul>
            <!-- End Nav tabs -->
            
            <!-- Tab panes -->
            <div class="tab-content tpl-tabs-cont">
                <div class="tab-pane fade in active" id="one">
                    {{product.specification | safe}}
                </div>
            </div>
        {% endif %}
        <!-- End Tab panes -->    
    </div>
</section>
<!-- End Section -->

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.get("/edit_cart/", function (data) {
            alert(data);
        });
    });
</script>
{% endblock extra_js %}