body{
    color: #394753 !important;
}
.admin-logo{
    width: 90%;
    margin-top: 5px;
}

.results tbody{
    background-color: #edeeef;
}

fieldset.module{
    background-color: #edeeef !important;
}

.dashboard-item-header-title {
    font-size: 12px !important;
}

.sidebar-popup-list {
    font-size: 16px !important;
}

.results th, td{
    font-size: 15px !important;
}

.results input{
    color: black !important;
    font-size: 15px !important;
}

fieldset.module input{
    color: black !important;
    font-size: 16px;
}

fieldset.module{
    font-size: 16px;
}

fieldset.module .select2-container--jet .select2-selection .select2-selection__rendered{
    color: black !important;
    font-size: 16px;
}

.results .select2-container--jet .select2-selection .select2-selection__rendered{
    color: black !important;
    font-size: 15px !important;
}

.select2-container--jet {
    min-width: 160px;
    min-width: 20em !important;
}

.related-widget-wrapper{
  float:left !important;
}

.related-widget-wrapper-link{
  display: table-cell !important;
}

.aligned label{
  font-weight: bold;
}

.changeform-tabs-item-link{
  font-size: 16px !important;
}
