/*Margin botton of footer*/
.mb-110 {
    margin-bottom: 50px !important;
}
/*Color nav top*/
.main-nav.dark {
    background-color: rgba(35, 12, 210, 0.61) !important;
}

.col-md-8{
	width: 100% !important;
} 

.col-md-offset-2{
	margin-left: 0% !important;
}

.h1-text-center{
	text-align: center;
}

/*aviso legal*/
#aviso-legal{
	margin-left: 0%;
	padding-right: 15%;
	padding-left: 15%;
	text-align: left;
}

#col-sm-4{
	padding-bottom: 15px;
}





#col-sm-4-upt_cart {
    width: 100%;
}

#buttons-large{
	color: #fff;
}

/*Reserve form*/
.form-checkout input{
	padding-left: 13px;
}

.form-checkout select{
	height: 28px;
	font-size: 12px;
	background-color: #fff;
	background-image: none;
}