{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}

{% block title %}
<title>{{ config.name_ecomerce}} | Sobre Nosotros</title>
{% endblock %}

{% block content %}

<body class="appear-animate">
    <!-- Head Section -->
    <section class="small-section bg-gray-lighter">
        <div class="relative container align-right">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="h1-text-center hs-line-11 no-transp font-alt mb-20 mb-xs-0">Sobre Nosotros</h1>
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Head Section -->            

    <!-- Divider -->
    <hr class="mt-0 mb-0 "/>
    <!-- End Divider -->

    <!-- Team Section -->
    <section class="page-section">
        <div class="container relative">
            
            <h2 class="section-title font-alt mb-70 mb-sm-40">
                Nuestro Equipo
            </h2>
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-text align-center mb-70 mb-xs-40">
                        {{ about.text }}
                    </div>
                </div>
            </div>
            
            <div class="row multi-columns-row">                        
                <!-- Team item -->
                {% for m in members%}
                <div class="col-sm-4 mb-xs-30 wow fadeInUp" id="col-sm-4">
                    <div class="team-item">
                        
                        <div class="team-item-image">
                            
                            <img src="/media/{{ m.image }}" alt="" />
                            
                            <div class="team-item-detail">
                                
                                <h4 class="font-alt normal">{{ m.name }}</h4>
                                
                                <p>
                                    {{ m.text }}
                                </p>
                            </div>
                        </div>
                        
                        <div class="team-item-descr font-alt">
                            
                            <div class="team-item-name">
                                {{ m.name }}
                            </div>
                            
                        </div>                    
                    </div>
                </div>
                <!-- End Team item -->
                {%endfor%}
            </div>             
        </div>
    </section>
    <!-- End Team Section -->
    </div>
    <!-- End Page Wrap -->    
</body>

{% endblock content %}