{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}


{% block title %}
<title>{{ config.name_ecomerce}} | Contacto</title>
{% endblock %}


{% block content %}
<form method="POST" action="/" id="contact-form">
    {% csrf_token %}
    {% for field in c_form %}
        {{ field.label_tag }}
        {{ field|addcss:"custom-class" }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <input type="submit">
</form>
{% endblock content %}


{% block extra_js %}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrpMZBtJkd85mi7mEf6gpEu27BrkUjLwI&callback=initMap">
    </script>
    <script>
        function initMap(){
            var myCenter=new google.maps.LatLng({{config.location}});
            var mapProp = {
              center:myCenter,
              zoom:15,
              mapTypeId:google.maps.MapTypeId.HYBRID
              };
            var map=new google.maps.Map(document.getElementById("myMap"),mapProp);
            var marker=new google.maps.Marker({
              position:myCenter,
                animation:google.maps.Animation.BOUNCE,
              icon:'/static/CMS/img/marker.png',
                map: map,
              });

            marker.setMap(map);
        }
    </script>
{% endblock extra_js %}