{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}


{% block title %}
<title>{{ config.name_ecomerce}} | Aviso legal</title>
  
{% endblock %}


{% block content %}
<body class="appear-animate">
    <!-- Page Loader -->        
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
	<!-- Head Section -->
	<section class="small-section bg-gray-lighter">
	    <div class="relative container align-right">
	        
	        <div class="row">
	            
	            <div class="col-md-8">
	                <h1 class="h1-text-center hs-line-11 no-transp font-alt mb-20 mb-xs-0">Aviso legal</h1>
	            </div>
	        </div>
	        
	    </div>
	</section>
	<!-- End Head Section -->
	<!-- Mostrar aviso legal de ckeditor ('| safe' para mostrarlo en formato html ) -->
	<section id="aviso-legal" class="page-section section-text mb-70 mb-xs-40">
		{{ config.legal | safe }}
	</section> 
	
</body>
{% endblock content %}