{% extends "CMS/main.html" %}
{% load cropping %}
{% load addcss %}

{% block content %}
<body class="appear-animate">
    <!-- Page Loader -->        
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->
    
    <!-- Page Wrap -->
    <div class="page" id="top">  
        <!-- Fullwidth Slider -->

        <!-- Slider -->
        <div class="container">
            <div class="fullwidth-slider bg-dark">             
                <!-- Slide Item. Si hay banners que los saque todos -->
                {% if banners %}                                  
                    {% for b in banners  %}
                <div class="page-section bg-scroll bg-dark-alfa-30" data-background="/media/{{b.image}}">                        
                       <!-- Slide Content -->
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-5 col-md-offset-1">                          
                                <h3 class="mb-40 mb-xs-30">
                                    {{b.text | safe}}
                                </h3>                                
                            </div>
                        </div>
                        <!-- End Slide Content -->                       
                </div>
                    {% endfor %}
                {% endif %}
                <!-- End Slide Item -->
            </div>
        </div>
        <!-- End Slider -->
            
        <!-- Categories Section -->
        <section class="page-section pb-0" id="portfolio">
            <div class="relative">
                
                <h2 class="section-title font-alt mb-70 mb-sm-40">
                    Categorías
                </h2>
                <!-- Obtener categorias-->                   
                {% for cat in categories %}
                
                <section class="page-section" id="start">
                    <div class="container relative">
                        
                        <div class="row">
                            
                            <div class="col-md-7 mb-sm-40">
                                <!-- Gallery -->
                                <div class="work-full-media mt-0 white-shadow">
                                    <ul class="clearlist work-full-slider owl-carousel owl-theme" style="opacity: 1; display: block;">
                                        <div class="owl-wrapper-outer autoHeight" style="height: 368px;">
                                            <div class="owl-wrapper" style="width: 2612px; left: 0px; display: block;">
                                                <div class="owl-item" style="width: 653px;">
                                                     <img src="/media/{{cat.image}}" alt="">     
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <!-- End Gallery -->       
                            </div>
                                
                                <div class="col-md-5 col-lg-4 col-lg-offset-1">
                                    <!-- About Project -->
                                    <div class="text">
                                        <!-- Get category title and description -->
                                        <h3 class="font-alt mb-30 mb-xxs-10">{{cat.title}}</h3>
                                        
                                        <p>
                                            {{cat.description}}
                                        </p>
                                        
                                        <div class="mt-40">
                                             <!-- Enlace amigable a categorias -->
                                            <a href="{% url 'ecommerce:dispatch_slug' cat.slug %}" target="_self" class="btn btn-mod btn-border btn-round btn-medium">Ver {{cat.title}}</a>
                                        </div>
                                        
                                    </div>
                                    <!-- End About Project -->
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                    {% endfor %}
                    <hr class="mt-0 mb-0 ">       
                </div>
            </section>
            <!-- End Portfolio Section -->                     
            
            <!-- Google Map -->
            <div class="google-map">                
                <div data-address="{{ config.location }}" id="map-canvas"></div>                
            </div>
            <!-- End Google Map -->
        
        </div>
    </body>
{% endblock content %}