{% load cropping %}
{% load addcss %}
{% load compress %}
{% load cookielaw_tags %}

{% cookielaw_banner %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %}
        <title>{{ config.name_ecomerce}} | Inicio</title>
        {% endblock %}
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Roman Kirichik">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="/media/{{config.logo}}">

        <!-- CSS -->
        {% compress css inline %}
        <link rel="stylesheet" href="/static/css/mystyle.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/style-responsive.css">
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <link rel="stylesheet" href="/static/css/vertical-rhythm.min.css">
        <link rel="stylesheet" href="/static/css/owl.carousel.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">   
        <link rel="stylesheet" href="/static/cookielaw/css/cookielaw.css">
        {% endcompress %}
    </head>
<body>
<!-- Logo Section -->
<section class="small-section pt-30 pt-xs-20 pb-30 pb-xs-20">
    
    <div class="container align-center">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <img src="/media/{{config.logo}}" width="216" height="119" alt="logo" />
            </div>
        </div>
    </div>
    
</section>
<!-- End Logo Section -->
      
<!-- Menu Wrapper -->
<div class="container">
    
    <!-- Divider -->
    <hr class="mt-0 mb-0 "/>
    <!-- End Divider -->

    <!-- Navigation panel -->
    <nav class="main-nav mn-align-left not-top mb-30">
        <div class="relative clearfix">
            
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
            
            <!-- Main Menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist">    
                    <!-- Item With Sub -->
                    <li>
                        <a href="/" class="active">Inicio</a>                                
                    </li>
                    <!-- End Item With Sub -->                          
                    <!-- Item With Sub -->
                    <li>
                        <a href="" class="mn-has-sub">Categorías<i class="fa fa-angle-down"></i></a>               
                        <!-- Sub -->
                        <ul class="mn-sub" id="bg_categ">
                            {% for c in categories %}
                            <li>
                                <a href="{% url 'ecommerce:dispatch_slug' c.slug %}" target="_self">{{c.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- End Sub -->
                        
                    </li>
                    <!-- End Item With Sub -->

                    <!-- Ofertas 
                    <li>
                        <a href="special-construction-1.html" class="active">Ofertas</a>                                
                    </li>
                     End Ofertas -->
                    <!-- Cart -->
                    <li class="right">
                        <a href="{% url 'ecommerce:my_cart' %}"><i class="fa fa-shopping-cart"></i> Cart({{cart_tam}})</a>
                    </li>
                    <!-- End Cart -->                  
                </ul>
            </div>
            <!-- End Main Menu -->
        </div>
    </nav>
    <!-- End Navigation panel -->
</div>
<!-- End Menu Wrapper -->
{% block content %}
 
{% endblock content %}

    <!-- Foter -->
    <footer class="page-section bg-gray-lighter footer pb-60">
        <div class="container">
            
            <!-- Footer Logo -->
            <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.2s">
                <a href="/"><img src="/media/{{config.logo}}" width="78" height="36" alt="logo" /></a>
            </div>
            <!-- End Footer Logo -->
            
            <!-- Social Links -->
            <div class="footer-social-links mb-110 mb-xs-60">
                {% for sl in redes_sociales %}            
                    <a href="{{sl.url}}" target="_blank"><i class="fa {{sl.get_faclass}}"></i></a>
                {% endfor %}
            </div>
            <!-- End Social Links -->  

            <a>Tlf: {{config.phone}}</a>|
            <a href="{% url 'about' %}"> Sobre nosotros </a>|
            <a href="{% url 'legal' %}"> Aviso legal</a>
            <!-- Footer Text -->
            <div class="footer-text">
                
                <!-- Copyright -->
                <div class="footer-copy font-alt">
                    <p>&copy; PescaSur 2019</p>.
                </div>
                <!-- End Copyright -->
                
                <div class="footer-made">
                    Developed by - Diego Segovia <br>
                    for C.E.S Cristo Rey
                </div>
                
            </div>
            <!-- End Footer Text --> 
            
         </div>
         
         
         <!-- Top Link -->
         <div class="local-scroll">
             <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
         </div>
         <!-- End Top Link -->
         
    </footer>
    <!-- End Foter -->

</body>
        {% compress js inline %}
        <script src="/static/cookielaw/js/cookielaw.js"></script>
        <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>        
        <script type="text/javascript" src="/static/js/SmoothScroll.js"></script>
        <script type="text/javascript" src="/static/js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="/static/js/jquery.countTo.js"></script>
        <script type="text/javascript" src="/static/js/jquery.appear.js"></script>
        <script type="text/javascript" src="/static/js/jquery.sticky.js"></script>
        <script type="text/javascript" src="/static/js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/static/js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/static/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrpMZBtJkd85mi7mEf6gpEu27BrkUjLwI"></script>
        <script type="text/javascript" src="/static/js/gmap3.min.js"></script>
        <script type="text/javascript" src="/static/js/wow.min.js"></script>
        <script type="text/javascript" src="/static/js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="/static/js/all.js"></script>
        <script type="text/javascript" src="/static/js/contact-form.js"></script>
        <script type="text/javascript" src="/static/js/jquery.ajaxchimp.min.js"></script>                

        {% block extra_js %}

        {% endblock extra_js %}

        {% endcompress %}
</html>