{% extends "admin/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block branding %}
<h1 id="site-name">
	<img src="/media/{{config.logo}}" alt="logo" width="140" height="100"/><br>
	<a href="{% url 'admin:index' %}">Pesca Sur - Deportes</a>	
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}